<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rw.personalcenter">

    <application>
        <activity android:name=".ui.activity.UserInfoActivity"></activity>
        <activity android:name=".ui.activity.EmployeesManagerActivity" />
        <activity android:name=".ui.activity.SetActivity" />
    </application>

</manifest>